ul {
  padding: 0;
  display: flex;
  list-style: none;
}

li {
  margin: 15px;
}

li a {
  padding: 15px;
  background-color: #7209b7;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  border: 2px solid white;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  transition: all 0.2s ease;
}

li a:hover {
  padding: 16px;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
}