* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  background-image: linear-gradient(rgb(34, 34, 34), black);
  margin: 0;
  display: flex;
  justify-content: space-between;

}

.list-links {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: right;
  position: relative; 
  z-index: 3;
}

nav li {
  display: flex;
  align-items: center;

}

nav a {
  padding: 25px 20px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease;
  font-weight: 500;
}

.name-link {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
}

nav a:hover {
  background-color: rgba(255,255,255,0.07)
}

.dropdown {
  position: absolute;
  top: 68px;
  z-index: 2;
  list-style: none;
}

.dropdown li {
  background-color: black;
  margin: 0;
}

nav ul>li ul {
  display: none;
}

nav>ul>li:hover>.dropdown{
  display: block;
}

@media screen and (max-width: 430px){
  nav a {
    padding: 15px 10px;
  }
}