:root {
  --hot-pink: #F72585;
  --purple: #7209B7;
  --indigo: #3A0CA3;
  --blue: #4361EE;
  --sky-blue: #4CC9F0;
  --dark-grey: #171717;
}



* {
  font-family: 'Inter';

}

header, main {
  max-width: 1000px;
  
}

h1, h2 {
  color: var(--sky-blue);
}

body {
  background-image: linear-gradient(var(--dark-grey), black);
  min-height: 100vh;
  color: white;
  position: relative;
  padding-bottom: 60px;
}

header{
  margin: 25px auto;
  text-align: center;

}

header * {
  margin: 0 auto;
}

#home header *{
  margin: 0;
}

main {
  
  width: 100vw;
  margin: 0 auto;
  padding: 0 50px;
}


footer {
  position: absolute;
  bottom: 0;
  background-image: url('images/footerback.jpeg');
  color: black;
  width: 100%;
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer img {
  height: 20px;
  margin-right: 10px;
}


.footer-contact > div {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.first-p::first-letter {
  font-size: 25px;
  font-weight: bolder;
}

.row {
  display: flex;
}

.main-row {
  flex-direction: row-reverse;
}


#about-main .main-row img {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  float: right;
  border-radius: 5px;
  
}

#about-main .ed-info {
  max-width: 450px;
  margin: 0 auto;
}

#about-main img, #home img {
  border: 5px solid var(--hot-pink);
  box-shadow: 0 0 30px var(--hot-pink);
} 

#about-main .row p {
  line-height: 200%;
}

#about-main .main-row > div {
  flex: 50%;
}

#about-main .row {
  margin-bottom: 60px;
}

#about-main h2 {
  font-family: 'Abril Fatface', sans-serif;
}

.video {
  flex: 70%;
  text-align: right;
}
.resume {
  flex: 30%;
}

#about-main > div{
  padding: 10px;
}

.resume-img {
  width: 91.5%;
  aspect-ratio: 8/10;
}
.resume a {
  text-decoration: none;
}
.resume-btn {
  padding: 10px 50px;
  background-color: var(--blue);
  color: white;
  display: none;
  border-radius: 50px;
  cursor: pointer;
}


iframe {
  aspect-ratio: 16/9;
  width: 90%;
}

#reflection-article p {
  text-indent: 45px;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home main h2 {
  margin-bottom: 20px;
}

#home main p {
  text-indent: 45px;
}

#home .top-section{
  margin: 25px 0;
  display: flex;
  padding: 0 50px;
  width: 100%;
  max-width: 1000px;
  justify-content: space-between;
}

#home .top-section > * {
  flex: 50%;
}

#home img {
  width: 35vw;
  border-radius: 50%;
  max-width: 400px;
}
#home .main-img {
  text-align: right;
}
#home header {
  display: flex;
  align-items: center;
  font-size: 2.4vw;
}

#projects .project {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: white;
  margin: 0 2%;
}

#projects .project > * {
  flex: 50%;
}

#projects {
  color: black;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}


#projects .project .image {
  background-color: blue;
  aspect-ratio: 1/1;
  max-width: 300px;
  display: flex;
  margin: 0 auto;
}


#projects .project .desc {
  background-color: green;
  aspect-ratio: 1/1;
  max-width: 300px;
  margin: 0 auto;
}

.print-content{
  display: none;
} 


@media screen and (max-width: 850px){
  .row {
    display: block;
  }
  #about-main .main-row img {
    float: unset;
    margin-bottom: 50px;
  }
  .resume-img {
    display: none;
  }
  .resume {
    text-align: center;
  }
  .resume-btn {
    display: inline;
    margin-bottom: 50px;
  }

  .video {
    text-align: center;
  }

  #home main p {
    font-size: 15px;
  }

  #home main h2 {
    font-size: 18px;
  }

  nav a {
    font-size: 2.2vw;
  }

  #projects{
    flex-direction: column;
  }
  #projects .project {
    flex-direction: row;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 425px){
  #home .top-section {
    display: block;
  }
  #home header {
    width: 100%;
    font-size: 4vw;
    justify-content: center;
  }
  #home .main-img {
    text-align: center;
    margin: 30px 0;
  }

  main {
    padding: 0 25px;
  }
  #home main p {
    font-size: 13px;
  }
}

@media print {
  * {
    color: black !important;
  }
  body {
    padding: 1in !important;
    margin: 0 auto !important;
  }
  nav, .resume, .video {
    display: none !important;
  }

  #about-main img {
    border: none !important;
    box-shadow: none !important;
    width: 200px !important;
  }

  .row p {
    line-height: 100% !important;
  }

  footer img, footer i {
    display: none !important; 
  }

  .print-content {
    display: block !important;
  }
  .row {
    display: block !important;
    margin-bottom: 10px !important;
  }
}